<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.CategoryMapper">
    <update id="updateById">
        update category set categoryname = #{categoryname}, no = #{no} where id = #{id}
    </update>


    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>

    <select id="listCategorys" resultType="com.example.springboot.entity.Category">
        select * from category order by id desc
    </select>

    <select id="listByCondition" resultType="com.example.springboot.entity.Category">
        select * from category order by id asc
    </select>

    <insert id="save">
        insert into category(categoryname, no) values(#{categoryname}, #{no})
    </insert>

    <select id="getById" resultType="com.example.springboot.entity.Category">
        select * from category where id = #{id}
    </select>

</mapper>